@import "./normaliz";
@import "../fonts/font.css";

.m-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal!important;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}
.m-position-ab {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    background: #EFF1F0;
    overflow: auto;
}
.clearflex::after {
    content:"";
    display:table;
    clear:both;
}
.pd15{
    padding: 15px;
}
.pd15l{
    padding-left: 15px;
}
.pd15r{
    padding-right: 15px;
}
.pd15lr{
    padding: 0 15px;
}
.pd15tb{
    padding: 15px 0;
}
.z-mask-transparent{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.z-toast{
    position: fixed;
    z-index: 5000;
    top: 180px;
    left: 50%;
    background: hsla(0,0%,7%,.6);
    padding: 12px;
    max-width: 200px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: #fff;
}
.z-toast-content{
    line-height: 22px;
    text-align: center;
}

.z-mask-transparent-pay{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: hsla(0,0%,7%,.3);
}
.z-toast-pay{
    position: fixed;
    z-index: 5000;
    top: 60%;
    left: 50%;
    background: rgba(255, 255, 255, .9);
    width: 310px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    text-align: center;
}
.z-toast-pay-head {
    color: #333333;
    line-height: 17px;
    font-size: 17px;
    padding-top: 25px;
    font-weight: 600;
}
.z-toast-pay-body {
    color: #666666;
    line-height: 14px;
    font-size: 17px;
    padding:  20px 0 35px;
}
.z-toast-pay-footer {
    color:#269882; 
    line-height: 50px;
    font-size: 16px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        background: #e5e5e5;
        transform: scaleY(0.5);
    }
}
.din{
    font-weight: bold;
}